label {
    display: block;
    margin-bottom: 0.25rem;
}

input {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
}

button {
    margin-bottom: 3rem;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    gap: 0.75rem;
}